/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/backgrounds/output/
/backgrounds/.spago
/backgrounds/.purs-repl
/feats/output/
/feats/.spago
/feats/.purs-repl
/lineages/output/
/lineages/.spago
/lineages/.purs-repl
/magic-items/output/
/magic-items/.spago
/magic-items/.purs-repl
/spells/output/
/spells/.spago
/spells/.purs-repl